.first-name {
  font-size: 2rem;
  font-family: 'Liu Jian Mao Cao', cursive;
  color: #624f69;
}

.last-name {
  font-size: 2rem;
  font-family: 'Liu Jian Mao Cao', cursive;
  color: #624f69;
}

.email {
  font-size: 2rem;
  font-family: 'Liu Jian Mao Cao', cursive;
  color: #624f69;
}
