body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.profile-page {
  border: 3px solid #311021;
  width: 50%;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 500px;
}

.values-page {
  border: 3px solid #311021;
  width: 75%;
  text-align: center;
  margin: 0 auto;
}
